.success-snackbar {
  background-color: #4caf50;
  color: #ffffff;
}
.info-snackbar {
  background-color: #2196f3;
  color: #ffffff;
}

.danger-snackbar {
  background-color: #f44336;
  color: #ffffff;
}

.warning-snackbar {
  background-color: #ff9800;
  color: #ffffff;
}
