@if (homeFacade.vm$ | async; as vm){
<div class="body">
    <app-floating-menu class="menu-bar" cdkDrag [screenUsing]="vm.screenType"
        (screenUsingOut)="homeFacade.switchScreen($event)" (playBackRateUsingOut)="homeFacade.playBackRateHls($event)"
        (setSpeedRo)="homeFacade.setSpeedRo($event)" (endTheMatchEvent)="homeFacade.endTheMatchEvent()">
    </app-floating-menu>

    <div class="content-4" *ngIf="vm.screenType === 'x4'">
        <div class="content-4__item" *ngFor="let video of vm.videoX4; let i = index">
            <app-mediamtx-video-player *ngIf="video" [videoUrl]="video"
                [typeOfScreen]="vm.screenType" />
            <div class="err-container" *ngIf="!video">
                <div class="error-camera">
                    <img src="assets/no-camera.png" alt="Error Camera" />
                </div>
            </div>
        </div>
    </div>

    <div class="pagination" *ngIf="vm.screenType === 'x4'">
        <button (click)="homeFacade.previousVideoX4()"><</button>
        <button (click)="homeFacade.nextVideoX4()">></button>
    </div>

    <div class="content-9" *ngIf="vm.screenType === 'x9'">
        <div class="content-9__item" *ngFor="let video of vm.videos; let i = index">
            <app-mediamtx-video-player *ngIf="video" [videoUrl]="video"
                [typeOfScreen]="vm.screenType"></app-mediamtx-video-player>

            <div class="err-container" *ngIf="!video">
                <div class="error-camera">
                    <img src="assets/no-camera.png" alt="Error Camera" />
                </div>
            </div>
        </div>
    </div>

    <div class="container-1" *ngIf="vm.screenType === 'x1'">
        <div class="content-1">
            <div class="item-1" [ngClass]="vm.indexForClassContainerX1 === i ? 'is-selected' : ''" #videoContainer
                *ngFor="let video of vm.videosForOneView; let i = index" (click)="homeFacade.changeSourceVideoOne(i)">
                <app-mediamtx-video-player *ngIf="video" [videoUrl]="video"></app-mediamtx-video-player>
            </div>
        </div>
        <div class="content-2">
            <div #videoContainer>
                <app-mediamtx-video-player *ngIf="vm.screen1"
                    [videoUrl]="vm.videosForOneView[vm.indexForClassContainerX1]"
                    [currentTimeX1]="_handleCurrentDurationTimeService.currentTime"
                    [typeOfScreen]="vm.screenType"></app-mediamtx-video-player>
            </div>
        </div>
    </div>
    <div class="timeline">
        <div #controlsHls class="controls"
            (mousemove)="homeFacade.showTimeTooltipHls($event, controlsHls.clientWidth, timeTooltipHls)"
            (mouseleave)="homeFacade.hideTimeTooltipHls(timeTooltipHls)"
            (click)="homeFacade.seekVideoPlaybackHls($event, controlsHls.clientWidth)">
            <div class="progress"
                [style.width]="_handleCurrentDurationTimeService.currentTime | handleWidthOfTimeLine: _handleCurrentDurationTimeService.duration">
                <div *ngFor="let time of vm.markedTimesHls" class="mark"
                    [style.left]="(time /  _handleCurrentDurationTimeService.duration) * 100 + '%'">
                </div>
            </div>
            <div #timeTooltip class="time-tooltip" [style.left]="vm.tooltipPositionHls + 'px'">
                {{ vm.tooltipTimeHls }}
            </div>
        </div>
        <div class="time-display">
            <div style="cursor: pointer" (click)="homeFacade.seekToLive()">
                <div class="btn-live btn-live-on" *ngIf="vm.isLive"></div>
                <div class="btn-live btn-live-off" *ngIf="!vm.isLive"></div>
                {{ 'Trực tiếp' }}
            </div>
            <span class="live-duration">
                <span *ngIf="!vm.isLive">{{ _handleCurrentDurationTimeService.currentTime | translateCurrentDuration }} / </span>
                {{ 0 | translateCurrentDuration: _handleCurrentDurationTimeService.duration }}
            </span>
        </div>
    </div>
</div>
}